<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Test Suite">


	<test thread-count="1" name="CollectionPageTests" verbose="1"
		parallel="tests">
		<classes>
			<class name="TestScenario.ValidateCollectionPage" />
		</classes>
	</test>


</suite> 
